div.gallery {
    margin: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    float: left;
    max-width: 140px;
    max-height: 140px;
}

    div.gallery:hover {
        border: 1px solid #777;
    }

    div.gallery img {
        max-width: 100%;
        height: auto;
    }

div.desc {
    padding: 10px;
    text-align: center;
    color: white;
    font-family: 'Century Gothic';
}
